.content {
  background-color: aliceblue;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2rem;
  text-align: center;
}

.data {
  background-image: url("/HTML/img/gambar1.jpg");
  height: 800px;
  width: 800px;
  background-repeat: no-repeat;
}
